:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --bgUrl: './images';
  font-family: roboto;
}

body {
  background: url('/images/stones-7474749_1920.jpg');
  background: rgb(231, 167, 167);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

#wrapper-input,
#wrapper-game {
  border: 2px solid;
  border-radius: 5px;
  width: 40%;
  height: 400px;
  margin: 0 auto;
  position: static;
  transform: translateY(33%);
}

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 33%;
}

.three-buttons-div {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 30px;
  bottom: 9%;
}

.image {
  border-radius: 50%;
  width: 20%;
}

.image:hover {
  cursor: pointer;
  outline: 3px solid black;
}

#show-score {
  border: 2px solid red;
  font-size: 5rem;
  text-align: center;
}
